<%- include('../partials/header.ejs', { title: 'Registro Exitoso! - EcommerceX', showNavbar: false }); -%>

<main class="vh-100 bg-dark">
  <section class="not-found h-100">
    <div class="container d-flex justify-content-center align-items-center h-100">
      <div class="text-center text-light">
        <h1 class="fw-semibold" style="font-size: 3rem;">REGISTRO EXITOSO</h1>
        <h2 class="fw-semibold" style="font-size: 2rem;">Ingresa nuevamente tu correo y contraseña para empezar</h2>
        <a href="/" class="text-light fs-5 text-decoration-none fw-lighter"><i class="fa-solid fa-house-chimney me-2"></i>Volver al inicio</a>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer.ejs', { showFooter: false }); -%>