<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="alert alert-primary">
                <p>'directorio': process.cwd(),
                    'id proceso': process.pid,
                    'version node': process.version,
                    'titulo': process.title,
                    'sistema operativo': process.platform,
                    'uso memoria': process.memoryUsage()
                </p>
            </h1>
        </div>
</body>
</html>