<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
</head>

<body>
    <div class="container">

        <%- include('../css/vista')-%>
            <% if(nombre) {%>
                <div class='login'>
                    <form action="/logout" method="GET">
                        <h1> Bienvenido
                        </h1>
                        <p class="card-title">
                            <%= nombre %>.
                        </p>
                        <button class="btn btn-danger">Desloguearse</button>
                    </form>
                </div>
                <% } else { %>
                    <div></div>
                    <% } %>
    </div>

</body>

</html>