<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="alert alert-primary">
                Registro exitoso.
            </h1>
        </div>
        <script>
            setTimeout(() => {
                location.href = '/'
            }, 3000)
        </script>
</body>
